{% extends 'base.html.twig' %}

{% block body %}
            <div class="row">
                <div class="col-lg-6 mt-4">
                    <table class="table table-striped">
<!-- Meet#2545D2E5-380F-4F42-A46A-2C4ABDCB54AF#Games-Start -->
<tr><td>11</td><td>Alex M.</td><td>Florian K.</td><td>0:4</td></tr>
<tr><td>12</td><td>Ciprian B.</td><td>Markus K.</td><td>0:4</td></tr>
<!-- Meet#2545D2E5-380F-4F42-A46A-2C4ABDCB54AF#Games-End -->
                    </table>
                </div>

                <div class="col-lg-6 mt-4">
                            <table class="table table-striped">
<!-- Meet#2545D2E5-380F-4F42-A46A-2C4ABDCB54AF#Ranking-Start -->
<tr><td>1</td><td>Florian K.</td><td>3</td><td class="font-weight-bold">7</td><td>10:2</td></tr>
<tr><td>2</td><td>Aly H.</td><td>3</td><td class="font-weight-bold">7</td><td>9:3</td></tr>
<!-- Meet#2545D2E5-380F-4F42-A46A-2C4ABDCB54AF#Ranking-End -->
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}